.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(120, 120, 120, 0.2);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 100%;
    width: 100%;
    top: 50%;
    background-color: rgba(120, 120, 120, 0.2);
    border-radius: 20px;
    border: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textfield {
    width: 100%;
}
